body {
	margin-bottom: 5%;
}

.navbar {
	min-height: 70px;
}

.navbar-default, .navbar ul {
	background-color: #05b06a;
	color: #ffffff;
}

.navbar button {
	background-color: #069e6d;
	color: #ffffff;
	border: 0;
}

.navbar-default .navbar-brand {
	color: #ffffff;
	height: 70px;
	padding: 20px;
	font-size: 30px;
	line-height: 30px;
}

.navbar-nav li,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
	height: 70px;
	padding: 20px;
	line-height: 30px;
	font-size: 20px;
	height: 70px;
	color: #ffffff;
	display: inline;
	text-align: center;
}

.navbar .dropdown-menu {
	height: 120px;
	min-width: 140px;
}

.navbar .dropdown-menu li,
.dropdown-menu>li>a {
	padding: 5px;
	display: block;
	color: #ffffff;
	height: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #ffffff;
}

.row-odd {
	background-color: #ffffff;
}

.row-even {
	background-color: #fbfbfb;
}

.row-odd, .row-even {
	height: 180px;
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

.pane-left {
	height: 160px;
}

.pane-left p {
	color: #979797;
}

.date {
	color: #05b06a;
	position: absolute;
	bottom: 5px;
}

.pass {
	color: #979797;
}

.nopass {
	color: #fe5f5c;
}

.pass a {
	color: #588be7;
}

.nopass a {
	color: #e0e0e0;
}

.pass a, .nopass a {
	float: right;
}

.pane-right {
	line-height: 40px;
}

.pane-right ul {
	list-style-type: none;
}

hr {
	margin: 0px;
	color: #e0e0e0;
}

.articleTitle {
	padding: 1%;
}

.btn-cancel {
	background-color: #e0e0e0;
	color: #05b06a;
	height: 40px;
	width: 100px;
}

.btn-cancel:hover {
	background-color: #05b06a;
	color: #ffffff;
}

.btn-submit {
	background-color: #05b06a;
	color: #ffffff;
	height: 40px;
	width: 100px;
}

.btn-submit:hover {
	background-color: #e0e0e0;
	color: #05b06a;
}

